# Environment variables
APP_NAME=PropSpaceX Payment Service
PORT=9096
HOST=localhost
NODE_ENV=development
DB_LOGGING=true
# Format: postgresql://<username>:<password>@<host>:<port>/<database_name>
DB_URL=postgresql://propspacex:propspacex@localhost:5432/propspacex_wallet_payment_service
PAYSTACK_SECRET_KEY=
FRONTEND_BASE_URL=http://localhost:3000